<% if signed_in? %>
	<table class="front" summary="For signed-in users">
		<tr>
			<td class="main">
				<h1 class="micropost">Hoo, what's up?</h1>
				<%= render 'shared/micropost_form' %>
				<%= render 'shared/feed' %>
			</td>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
				<%= render 'shared/stats' %>
			</td>
		</tr>
	</table>
<% else %>
    <h1>Ryan's App</h1>
    <p>
      Welcome! This is the app I wrote to start learning <a href="http://en.wikipedia.org/wiki/Ruby_on_Rails" target="_blank">Ruby on Rails</a>. It's fully functional, so go ahead and <%= link_to "sign up!", signup_path %> If this isn't your first time, go ahead and <%=link_to "sign in.", signin_path%>
    </p>

	<%= link_to "Sign up now!", signup_path , :class => "signup_button round" %>
<% end %>